body {
  overflow-x: hidden;
}

.main-header {
  width: 100vw;
  height: 100vh;
  background: #000222 url('../images/bgImage-2.jpg') no-repeat;
  background-position: center;
  background-clip: padding-box;
  background-size: cover;
}

.opacity-div {
  background-color: rgba(#000000, 0.75);
  width: 100%;
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-header ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-header li {
  margin-left: 5px;
}

.menu-header ul a {
  padding: 15px;
  font-family: $fontButton;
  font-size: $sizeButton;
  color: white;
  transition: 0.2s;
}

.menu-header ul a:hover {
  color: $secondColor;
}



.menu-mobile {
  display: none;
}

.line-menu-mobile {
  width: 2em;
  height: 3px;
  margin-bottom: 5px;
  background-color: white;
}