body {
  overflow-x: hidden;
  height: 3000px;

  margin: 0;
  padding: 0;
  background-color: $bgColor;
}
.container-geral {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  // background-color: saddlebrown;
}

.header {
  background-image: url('../images/bgImage-1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.top-header {
  background-color: rgba($color: #000000, $alpha: 0.85);
  width: 100%;
  min-height: 100px;
  position:-webkit-sticky; 
  position:sticky; 
  top:0; 
  z-index:10;
}

.top-header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-list-header {
  display: flex;
  flex-wrap: wrap;
}

.menu-list-header a {
  color: white;
  font-family: $fontButton;
  display: block;
  padding: 10px;
  margin-left: 15px;
  font-size: 1.125em;
}
.menu-list-header a:hover {
  color: $secondColor;
  transition: 0.2s;
  font-size: 1.5em;
}

.menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.menu-mobile-line {
  height: 4px;
  background-color: white;
}