body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $bgColor;
  height: 3000px;
}
.container-geral {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
}

.header {
  background-image: url('../images/bgImage-5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top ;
  width: 100%;
  height: auto;
  
}

.top-header {
  background-color: rgba($color: #000000, $alpha: 0.85);
  width: 100%;
  min-height: 100px;
  position:-webkit-sticky; 
  position:fixed; 
  top:0; 
  z-index:10;
}

.top-header-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu-list-header {
  display: flex;
  flex-wrap: wrap;
}

.menu-list-header a {
  color: white;
  font-family: $fontButton;
  display: block;
  padding: 10px;
  margin-left: 15px;
  font-size: 1.125em;
}
.menu-list-header a:hover {
  color: $secondColor;
  transition: 0.2s;
  font-size: 1.5em;
}

.menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.menu-mobile-line {
  height: 4px;
  background-color: white;
}

/* EDIÇÃO E ESTILIZAÇÃO DA PARTE DO CONTEUDO DO HEADER ( MAIN PAGE ) */

@keyframes animationParagraphHeader{
  from{
    width: 0;
  }
  to{
    width: 20em;
  }
}

.animationPHeader {
  animation: animationParagraphHeader 4s steps(90) 500ms infinite normal;
}
.animationPHeader2 {
  animation: animationParagraphHeader 4s steps(90) 1s infinite normal;
}
.animationPHeader3 {
  animation: animationParagraphHeader 4s steps(90) 2s infinite normal;
}


h1.name-develop {
  font-family: $fontTitle;
  font-size: 6em;
  color:$secondColor ;
  margin-top: 2.5em;
  margin-bottom: 0;
}

.content-header p {
  font-family: $fontParagraph;
  font-size: 2em;
  margin-top: 1em;
  color: $primaryColor;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}