@media (max-width: 980px) {
  .container-geral  {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {

  @keyframes animationParagraphHeader{
    from{
      width: 0;
    }
    to{
      width: 13em;
    }
  }

  .header {
    background-image: url('../images/bgImage-5-Mobile.jpg');
    z-index: -10;
  }
  
  .menu-list-header {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.85);
    margin-top: 33px;
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .menu-list-header a {
    margin-bottom: 15px;
  }

  h1.name-develop {
    font-size: 2em;
    margin-top: 5.25em;
  }

  .content-header p {
    font-size: 1.25em;
  }

  /* RESPONSIVIDADE DA PÁGINA ABOUT */
  .title {
    font-size: 2em;
  }

  #about .content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  #about p {
    font-size: 1em;
    margin-top: 1em;
  }

  #about .text {
    width: 100%;
  }
}