@media (max-width: 700px) {
  .logo {
    padding-left: 20px;
  }

  .menu-list-header {
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.85);
    margin-left: -40px;
    margin-top: 33px;
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .menu-list-header a {
    margin-bottom: 15px;
  }
}