@media (max-width: 990px) {
  .top-header {
    justify-content: center;
  }
  
  .logo {
    margin-bottom: 1.25em;
  }
}

@media (max-width: 767px) {
  .top-header {
    justify-content: space-between;
  }

  .menu-header {
    display: none;
  }

  .menu-mobile {
    margin-top: -25px;
    display: block;
  }
}