/* Variáveis de Cores Utilizadas */
$bgColor: #020300;
$primaryColor: #fff;
$secondColor: #00B8E4;

/* Variáveis de textos */
$fontTitle: 'Secular One', sans-serif;
$fontParagraph : 'Raleway', sans-serif;
$fontButton : 'Fredoka One', cursive;

$sizeTitle: 4em;
$sizeParagraph: 1.25em;
$sizeButton: 1.25em; 

$sizeTitleMobile: 2.5em;
$sizeParagraphMobile : 0.875em;
$sizeButtonMobile : 0.875em;
