/* Váviaveis de Cores Utilizadas */
$bgColor: #000222;
$primaryColor: #fff;
$secondColor: #AAD9EF;

/* Váriaveis de textos */
$fontTitle: 'Secular One', sans-serif;
$fontParagraph : 'Raleway', sans-serif;
$fontButton : 'Fredoka One', cursive;