/* Variáveis de Cores Utilizadas */
$bgColor: #000222;
$primaryColor: #fff;
$secondColor: #AAD9EF;

/* Variáveis de textos */
$fontTitle: 'Secular One', sans-serif;
$fontParagraph : 'Raleway', sans-serif;
$fontButton : 'Fredoka One', cursive;

$sizeTitle: 4em;
$sizeParagraph: 1.25em;
$sizeButton: 1.25em; 
